.App {
  background: linear-gradient(90deg, rgba(201,255,225,1) 0%, rgba(255,255,255,1) 48%, rgba(245,233,255,0.9640231092436975) 100%);
}

.App input {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  color: purple;
  width: 45%;
  text-align: center;
  border-radius: 999px;
  border: 1px solid lightgray;
}

.App button {
  height: 32px;
  background-color: peachpuff;
  border-radius: 999px;
  margin-left: 10px;
}

.App button:hover {
  background-color: palegoldenrod;
}

.feed__header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: rgb(247, 255, 172);
  z-index: 100;
  border: 3px solid lightgray;
  padding: 15px 20px;
}


.feed__header > h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: rotate(-3deg);
  font-size: 40px;
}

